
.icon-heart:before { content: '\e800'; } /* '' */
.icon-pencil-fill:before { content: '\e801'; } /* '' */
.icon-instagram-fill:before { content: '\e802'; } /* '' */
.icon-mail-fill:before { content: '\e803'; } /* '' */
.icon-github-fill:before { content: '\e804'; } /* '' */
